       
            <!-- Top bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <i class="fa fa-envelope"></i>
                            leeminhnqn@gmail.com
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-phone-alt"></i>
                            +016-150-2035
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top bar End -->
            
            <!-- Nav Bar Start -->
            <div class="nav">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">MENU</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
                                <a href="/" class="nav-item nav-link active">Home</a>
                                <a href="/product/list" class="nav-item nav-link">Products</a>
                                <a href="/product/cart" class="nav-item nav-link">Cart</a>
                                <th:block th:if="${#request.remoteUser}">
                                <a href="/product/order/checkout" class="nav-item nav-link">Checkout</a>
                                <a href="/my/account" class="nav-item nav-link">My Account</a>
						<li
							th:if="${#request.isUserInRole('DIRE') or #request.isUserInRole('STAFF')}">
							<a href="#" class="nav-item nav-link">Admin</a>
						</li>
					</th:block>
                                <div class="navbar-nav mr-auto">
                                	
                                <li th:unless="${#request.remoteUser}">
	                                 <a th:href="@{/security/login/form}" class="nav-item nav-link">Login & Register</a>
	                            </li>
                                </div>
                            </div>
                           <th:block th:if="${#request.remoteUser}">
                            <div class="navbar-nav ml-auto">
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Chào [[${#request.remoteUser}]]</a>
                                    <div class="dropdown-menu">
                                    	
                                        <a href="/security/login/form" class="dropdown-item">information User</a>
                                        <a th:href="@{/product/cart}" class="dropdown-item">history Order</a>
                                        <a href="/accountDetails"class="dropdown-item">Account Details</a>
                                        <a href="/changepassword"class="dropdown-item">Change Password</a>
                                        <form th:action="@{/security/logoff}" method="POST">
                                        	
                                        <button type="submit" class="dropdown-item">Đăng xuất</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            </th:block>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Nav Bar End -->      
            
            <!-- Bottom Bar Start -->
            <div class="bottom-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class="logo">
                                <a href="/index">
                                    <img src="/user/img/logo.png" alt="Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="search">
                                <input type="text" placeholder="Search">
                                <button><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="user">
                                <a href="/product/cart" class="btn cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>{{cart.count}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bottom Bar End -->       
        